<!doctype html>
<html dir="ltr" lang="en" class="scroll-smooth">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <meta property="og:title" content="Fitness Web Components"/>
        <meta property="og:description" name="description" content="Fitness."/>
        <meta property="og:image" content="https://fitness.trovster.com/icon.png"/>
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="@trovster"/>
        <meta name="keywords" content="trovster, fitness, health"/>
        <meta name="apple-mobile-web-app-title" content="Fitness Web Components"/>
        <meta name="application-name" content="Fitness Web Components"/>

        <title>Fitness Web Components — Simple Web Components for fitness cards and rings.</title>

        <script type="text/javascript">
            document.getElementsByTagName('html')[0].className += ' js';
        </script>

        <link rel="stylesheet" href="https://fitness.trovster.com/css/site.css"/>
        <link rel="stylesheet" href="https://fitness.trovster.com/css/prism-theme.css"/>
    </head>

    <body class="bg-zinc-200 text-zinc-800 dark:bg-zinc-900 dark:text-zinc-300 space-y-6 font-sans ">
        <main>
            <fitness-card class="block py-6 space-y-6 rounded-2xl mx-auto bg-gray-800 text-white text-center max-w-3xl sm:text-left font-mono">
    <fitness-card-header class="block pb-6 px-6 border-b-2 border-zinc-400 text-center text-lg sm:text-2xl">
        Invalid Date

    </fitness-card-header>

    <fitness-card-content class="flex flex-col gap-4 items-center px-6 sm:flex-row sm:justify-evenly">
        <div>
            <dl class="relative text-2xl leading-tight space-y-4">
    <div>
        <dt>Move</dt>
        <dd class="text-move ">
            0/0<abbr title="Kilocalories" class="uppercase text-base ml-1 no-underline">Kcal</abbr>
        </dd>
    </div>

    <div>
        <dt>Exercise</dt>
        <dd class="text-exercise">
            0/0<abbr title="Minutes" class="uppercase text-base ml-1 no-underline">min</abbr>
        </dd>
    </div>

    <div>
        <dt>Stand</dt>
        <dd class="text-stand">
            0/0<abbr title="Hours" class="uppercase text-base ml-1 no-underline">hrs</abbr>
        </dd>
    </div>
</dl>

        </div>

        <div class="relative w-full max-w-xs">
            <fitness-ring class="relative block mx-auto" data="">
    <svg viewBox="0 0 36 36" data-stand="0" data-exercise="0" data-move="0">
        <g class="origin-center -rotate-90">
            <circle stroke-width="3" r="16" class="stroke-move scale-100 fill-transparent translate-x-1/2 translate-y-1/2 opacity-25"/>
            <circle stroke-width="3" r="16" class="stroke-move scale-100 fill-transparent translate-x-1/2 translate-y-1/2 animate-move" stroke-linecap="round" stroke-dashoffset="0" stroke-dasharray="0, 100"/>
        </g>

        <g class="origin-center -rotate-90">
            <circle stroke-width="4" r="16" class="stroke-exercise scale-75 fill-transparent translate-x-1/2 translate-y-1/2 opacity-25"/>
            <circle stroke-width="4" r="16" class="stroke-exercise scale-75 fill-transparent translate-x-1/2 translate-y-1/2 animate-exercise" stroke-linecap="round" stroke-dashoffset="0" stroke-dasharray="0, 100"/>
        </g>

        <g class="origin-center -rotate-90">
            <circle stroke-width="6" r="16" class="stroke-stand scale-50 fill-transparent translate-x-1/2 translate-y-1/2 opacity-25"/>
            <circle stroke-width="6" r="16" class="stroke-stand scale-50 fill-transparent translate-x-1/2 translate-y-1/2 animate-stand" stroke-linecap="round" stroke-dashoffset="0" stroke-dasharray="0, 100"/>
        </g>

        
        <svg width="2" height="2" x="17" y="1" class="stroke-white fill-white @apply animate-pulse-once" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
  <path fill-rule="evenodd" d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z" clip-rule="evenodd"></path>
</svg>

        <svg width="2" height="2" x="17" y="5" class="stroke-white fill-white @apply animate-pulse-once" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
  <path fill-rule="evenodd" d="M12.577 4.878a.75.75 0 01.919-.53l4.78 1.281a.75.75 0 01.531.919l-1.281 4.78a.75.75 0 01-1.449-.387l.81-3.022a19.407 19.407 0 00-5.594 5.203.75.75 0 01-1.139.093L7 10.06l-4.72 4.72a.75.75 0 01-1.06-1.061l5.25-5.25a.75.75 0 011.06 0l3.074 3.073a20.923 20.923 0 015.545-4.931l-3.042-.815a.75.75 0 01-.53-.919z" clip-rule="evenodd"></path>
</svg>

        <svg width="2" height="2" x="17" y="9" class="stroke-white fill-white @apply animate-pulse-once" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
  <path fill-rule="evenodd" d="M10 17a.75.75 0 01-.75-.75V5.612L5.29 9.77a.75.75 0 01-1.08-1.04l5.25-5.5a.75.75 0 011.08 0l5.25 5.5a.75.75 0 11-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0110 17z" clip-rule="evenodd"></path>
</svg>

        
    </svg>
</fitness-ring>

        </div>
    </fitness-card-content>

    <fitness-card-footer class="block pt-6 px-6 border-t-2 border-zinc-400">
        <dl class="relative text-2xl leading-tight space-y-6 flex flex-col justify-evenly text-center sm:flex-row sm:space-y-0 sm:space-x-6">
    <div>
        <dt>Steps</dt>
        <dd class="text-gray-400">0</dd>
    </div>
    <div>
        <dt>Distance</dt>
        <dd class="text-gray-400">0
            <abbr title="Miles" class="uppercase text-base ml-1 no-underline">mi</abbr>
        </dd>
    </div>
    <div>
        <dt>Flights</dt>
        <dd class="text-gray-400">0</dd>
    </div>
</dl>

    </fitness-card-footer>
</fitness-card>

        </main>

        <footer class="py-6 text-sm text-zinc-400 text-center">
            <div class="container vcard space-y-1">
                <p>© 2023 <em class="fn not-italic">Trevor Morris</em></p>
            </div>
        </footer>
    </body>
</html>
