<!doctype html>
<html dir="ltr" lang="en" class="scroll-smooth">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <meta property="og:title" content="Fitness Web Components"/>
        <meta property="og:description" name="description" content="Fitness."/>
        <meta property="og:image" content="https://fitness.trovster.com/icon.png"/>
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="@trovster"/>
        <meta name="keywords" content="trovster, fitness, health"/>
        <meta name="apple-mobile-web-app-title" content="Fitness Web Components"/>
        <meta name="application-name" content="Fitness Web Components"/>

        <title>Fitness Web Components — Simple Web Components for fitness cards and rings.</title>

        <script type="text/javascript">
            document.getElementsByTagName('html')[0].className += ' js';
        </script>

        <link rel="stylesheet" href="https://fitness.trovster.com/css/site.css"/>
        <link rel="stylesheet" href="https://fitness.trovster.com/css/prism-theme.css"/>
    </head>

    <body class="bg-zinc-200 text-zinc-800 dark:bg-zinc-900 dark:text-zinc-300 space-y-6 font-sans ">
        <main>
            <dl class="relative text-2xl leading-tight space-y-6 flex flex-col justify-evenly text-center sm:flex-row sm:space-y-0 sm:space-x-6">
    <div>
        <dt>Steps</dt>
        <dd class="text-gray-400">0</dd>
    </div>
    <div>
        <dt>Distance</dt>
        <dd class="text-gray-400">
            0 <abbr title="Miles" class="uppercase text-base ml-1 no-underline">mi</abbr>
        </dd>
    </div>
    <div>
        <dt>Flights</dt>
        <dd class="text-gray-400">0</dd>
    </div>
</dl>

        </main>

        <footer class="py-6 text-sm text-zinc-400 text-center">
            <div class="container vcard space-y-1">
                <p>© 2023 <em class="fn not-italic">Trevor Morris</em></p>
            </div>
        </footer>
    </body>
</html>
