<dl class="relative text-2xl leading-tight space-y-6 flex flex-col justify-evenly text-center sm:flex-row sm:space-y-0 sm:space-x-6">
    <div>
        <dt>Steps</dt>
        <dd class="text-gray-400">{{ steps | formattedNumber }}</dd>
    </div>
    <div>
        <dt>Distance</dt>
        <dd class="text-gray-400">
            {{ distance | miles | formattedNumber(2) }} <abbr title="Miles" class="uppercase text-base ml-1 no-underline">mi</abbr>
        </dd>
    </div>
    <div>
        <dt>Flights</dt>
        <dd class="text-gray-400">{{ flights | formattedNumber }}</dd>
    </div>
</dl>
