@tailwind base;
@tailwind components;
@tailwind utilities;

/* .health__data {
    @apply py-6 space-y-6 my-6 rounded-2xl;
    @apply bg-gray-300 text-center sm:text-left;

    &__info {
        @apply flex flex-col gap-4 items-center px-6;
        @apply sm:flex-row sm:justify-evenly;
    }

    &__summary {
        @apply pt-6 px-6 border-t-2 border-gray-200;

        dl {
            @apply flex flex-col justify-evenly text-center sm:flex-row;
        }

        div {
            @apply mx-6;
        }
    }

    dl {
        @apply relative text-2xl leading-tight;

        dt {
            @apply -mb-[2px];
        }

        dd {
            @apply mb-4 text-gray-700;
        }

        abbr {
            @apply uppercase text-base ml-1;
        }
    }

    .dark & {
        @apply text-white bg-gray-900;

        &__summary {
            @apply border-gray-800;
        }

        dl dd {
            @apply text-gray-400;
        }
    }
}

.health__ring {
    @apply w-full max-w-xs;

    &__item {
        @apply block mx-auto;
        @apply sm:max-w-[250px] sm:mr-0;
    }

    svg {
        @apply relative;

        g {
            @apply origin-center -rotate-90;
        }

        .icon {
            @apply stroke-white fill-white;
            @apply animate-pulse-once;
        }

        circle {
            @apply fill-transparent translate-x-1/2 translate-y-1/2;
        }

        .background {
            @apply opacity-25;
        }

        .completed {
            @apply animate-ring;
            stroke-linecap: round;
        }

        .move {
            @apply stroke-move scale-100;

            .completed {
                animation-duration: 950ms;
                animation-delay: 550ms;
            }
        }

        .exercise {
            @apply stroke-exercise scale-75;

            .completed {
                animation-duration: 1200ms;
                animation-delay: 300ms;
            }
        }

        .stand {
            @apply stroke-stand scale-50;

            .completed {
                animation-duration: 1450ms;
                animation-delay: 50ms;
            }
        }
    }
} */
