@tailwind base;
@tailwind components;
@tailwind utilities;

main p a {
    @apply text-sky-500 underline decoration-2 underline-offset-2;
    @apply hover:no-underline focus:no-underline;
}

fitness-card {
    --fitness-value: theme(colors.zinc.400);
}

fitness-card::part(header) {
    @apply border-0 border-b-2 border-zinc-200 border-solid py-6 mb-8;
    @apply dark:border-zinc-900;
}

fitness-card::part(footer) {
    @apply border-0 border-t-2 border-zinc-200 border-solid py-6 mt-8;
    @apply dark:border-zinc-900;
}

fitness-card::part(ring) {
    @apply sm:max-w-[250px];
}

.muted {
    --fitness-move: theme(colors.pink.400);
    --fitness-exercise: theme(colors.sky.400);
    --fitness-stand: theme(colors.teal.400);
}

@media (prefers-color-scheme: dark) {
    .muted {
        --fitness-move: theme(colors.fuchsia.600);
        --fitness-exercise: theme(colors.blue.600);
        --fitness-stand: theme(colors.emerald.600);
    }
}
