<section class="p-6 space-y-8">
    <div class="max-w-3xl mx-auto text-center">
        <h1 class="tracking-tight leading-none font-display font-black text-4xl md:text-8xl md:leading-[0.75]">
            {{ site.title }}
        </h1>

        <p class="text-lg mt-2 md:text-2xl md:mt-8">{{ site.summary }}</p>
    </div>

    <div class="max-w-4xl mx-auto">
        <ul class="flex flex-row flex-wrap justify-center gap-x-3 gap-y-5">
            {% for item in fitness.data %}
            <li class="w-full min-w-[100px] max-w-[12%]">
                <a href="#date-{{ item.date | dateSlug }}" class="group flex flex-col items-center space-y-2" title="{{ item.date | dateFormat({ year: 'numeric', month: 'numeric', day: 'numeric' }) }}">
                    <fitness-ring
                        class="muted"
                        move-total="{{ item.move.total }}" move-goal="{{ item.move.goal }}"
                        exercise-total="{{ item.exercise.total }}" exercise-goal="{{ item.exercise.goal }}"
                        stand-total="{{ item.stand.total }}" stand-goal="{{ item.stand.goal }}"
                    ></fitness-ring>
                    <span class="group-hover:underline underline-offset-2 decoration-2">{{ item.date | dateFormat({ year: 'numeric', month: 'numeric', day: 'numeric' }) }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="max-w-4xl mx-auto">
        <ul class="space-y-6">
            {% for item in fitness.data %}
            <li id="date-{{ item.date | dateSlug }}">
                <fitness-card
                    class="overflow-hidden rounded-3xl mx-auto bg-gray-800 text-white max-w-3xl"
                    date="{{ item.date | dateFormat }}"
                    replayable="true"
                    steps="{{ item.steps }}" distance="{{ item.distance }}" flights="{{ item.flights }}"
                    move-total="{{ item.move.total }}" move-goal="{{ item.move.goal }}"
                    exercise-total="{{ item.exercise.total }}" exercise-goal="{{ item.exercise.goal }}"
                    stand-total="{{ item.stand.total }}" stand-goal="{{ item.stand.goal }}"
                >
                    {% svg 'move', { slot: 'icon-move' } %}
                    {% svg 'exercise', { slot: 'icon-exercise' } %}
                    {% svg 'stand', { slot: 'icon-stand' } %}
                </fitness-card>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="max-w-4xl mx-auto !mt-14 pt-12 border-t-2 border-solid border-gray-300 dark:border-gray-700 space-y-4 md:text-lg">
        <h2 class="tracking-tight leading-none font-display font-bold text-center text-4xl mb-8">The Code</h2>

        <p class="max-w-3xl mx-auto text-lg md:text-2xl">
            This is an <a href="https://www.11ty.dev">Eleventy</a>-based project
            demoing the <a href="https://github.com/trovster/fitness-visualisations">fitness visualisations</a>
            Web Components and custom styling.
        </p>
        <p class="max-w-3xl mx-auto">
            You can download the
            <a href="https://github.com/trovster/fitness.trovster.com">repository of this project</a>
            and configure your <code>fitness.json</code> data to generate fitness cards and activity rings.
            You can integrate with an API and customise the design of the components.
        </p>

        <p class="max-w-3xl mx-auto">
            There are two web components used in this demo; the clickable activity rings at the top
            and the fully featured fitness cards, which are <em>replayable</em> and
            have custom icons from <a href="https://heroicons.com">Heroicons</a>. You can see
            more customisation in the
            <a href="https://trovster.github.io/fitness-visualisations">fitness visualisations demo</a>.
        </p>

        <p class="max-w-3xl mx-auto">
            Below is how the components are built, using the JSON data.
        </p>

        {% highlight 'html' %}
<fitness-ring
    move-total="item.move.total" move-goal="item.move.goal"
    exercise-total="item.exercise.total" exercise-goal="item.exercise.goal"
    stand-total="item.stand.total" move-goal="item.stand.goal"
></fitness-ring>

<fitness-card
    date="item.date"
    replayable="true"
    steps="item.steps" distance="item.distance" flights="item.flights"
    move-total="item.move.total" move-goal="item.move.goal"
    exercise-total="item.exercise.total" exercise-goal="item.exercise.goal"
    stand-total="item.stand.total" move-goal="item.stand.goal"
>
    <svg slot="icon-move">…</svg>
    <svg slot="icon-exercise">…</svg>
    <svg slot="icon-stand">…</svg>
</fitness-card>
        {% endhighlight %}

        <p class="max-w-3xl mx-auto">The components above are driven by a JSON dataset that looks like the following.</p>

        {% highlight 'json' %}
        {{ example | stringify | safe }}
        {% endhighlight %}
    </div>
</section>
