<section class="p-6 space-y-6">
    <div class="max-w-4xl mx-auto space-y-6 text-center">
        <h1 class="tracking-tight leading-none font-display font-black text-4xl md:text-8xl">
            {{ site.title }}
        </h1>

        <p class="text-lg md:text-xl">{{ site.summary }}</p>
    </div>

    <div class="max-w-4xl mx-auto space-y-2 md:text-lg">
        <h2 class="tracking-tight leading-none font-display font-bold text-center text-2xl md:text-4xl">The Code</h2>

        <p class="text-center max-w-3xl mx-auto">
            You can download the
            <a href="https://github.com/trovster/fitness.trovster.com" class="underline hover:no-underline focus:no-underline">repository of this project</a>
            and setup your own components.
            Each component expects a JSON payload shape that looks like the following.
        </p>

        {% highlight 'json' %}
        {{ example | stringify | safe }}
        {% endhighlight %}
    </div>

    <div class="max-w-4xl mx-auto space-y-6 text-center">
        <h2 class="tracking-tight leading-none font-display font-bold text-center text-2xl md:text-4xl">Cards</h2>

        <ul class="space-y-6">
            {% for item in fitness.data %}
            <li>
                {% renderFile './src/components/card.njk', item %}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="max-w-4xl mx-auto space-y-6 text-center">
        <h2 class="tracking-tight leading-none font-display font-bold text-center text-2xl md:text-4xl">Rings</h2>

        <ul class="flex flex-wrap gap-4 justify-center">
            {% for item in fitness.data %}
            <li class="min-w-[20%]">
                {% renderFile './src/components/ring.njk', item %}
            </li>
            <li class="min-w-[20%]">
                {% renderFile './src/components/ring.njk', item %}
            </li>
            <li class="min-w-[20%]">
                {% renderFile './src/components/ring.njk', item %}
            </li>
            {% endfor %}
        </ul>

        <ul class="flex flex-wrap justify-center bg-gray-800 rounded-2xl p-6">
            {% for item in fitness.data %}
            <li class="min-w-[48%] mx-[1%]">
                {% renderFile './src/components/ring.njk', item %}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
